body{
    padding: 20px;
    
}

.grandparent{
    padding: inherit;
    border: 3px solid green;
    width: 500px;
    height: 200px;
    position: absolute;
    left: 250px;
    /* radial-gradient */
    background-image: radial-gradient(red, yellow,green)
}

